<!-- pour charger les fichiers statiques -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection</title>
    <link rel="icon" href="{% static 'caregenius/images/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'caregenius/css/connection.css' %}">
    <script src="{% static 'caregenius/js/connection.js' %}"></script>
</head>
<body>
    <h1>connection</h1>

</body>
</html>
