{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PhotoMédIA – Accueil</title>
  <link rel="stylesheet" href="{% static 'caregenius/css/landing.css' %}">
  <link rel="stylesheet" href="{% static 'caregenius/css/header.css' %}">
  <link rel="icon" href="{% static 'caregenius/images/logo_sans_texte.svg' %}">
</head>
<body>

  <!-- Header -->
  {% include 'caregenius/includes/header.html' %}


  <!-- Hero -->
  <main>
    <section class="hero">
      <div class="hero-left">
        <img src="{% static 'caregenius/images/dessin_patient_photo.png' %}" alt="patient" id="image-hero-left">
        <h1>Analysez instantanément<br>vos médicaments et ordonnances</h1>
        <p class="hero-sub">Recevez posologie, indications et précautions en quelques secondes</p>
      </div>
      <div class="hero-right">
          <div class="upload-box">
            <a href="{% url 'caregenius:dashboard_medicaments' %}">
              <button type="button" class="btn-primary">Téléversez une photo</button>
            </a>
            <p class="upload-instructions">
              de votre boîte de médicaments ou<br>
              de votre ordonnance
            </p>
            <div class="pp-container">
              <img src="{% static 'caregenius/images/portrait_paysage.png' %}" alt="portrait paysage" id="portrait-paysage">
            <p>⚠️ Veuillez prendre une photo en format portrait (vertical). Notre système ne traite pas les images en format paysage (horizontal).</p>
            </div>
          </div>
      </div>
    </section>
  </main>

</body>
</html>