<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'caregenius/css/profil.css' %}">
    <title>Profil</title>
</head>
<body>
    <h1>Profil</h1>
    <h2>Bienvenue sur le profil</h2>
    <p>Cette page est en cours de développement</p>
</body>
<script src="{% static 'caregenius/js/profil.js' %}"></script>
<script src="{% static 'caregenius/js/script.js' %}"></script>
</html>