@import 'variables.css';


* {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  body {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    background: #F1FFFA;
    line-height: 1.5;
  }
  
  /* Container centré */

  
 
  
  /* Hero */
  .hero {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 4rem 0;
  }
  .hero-left {
    flex: 1;
    max-width: 50%;
  }
  #image-hero-left{
    width: 300px;
  }
  .hero-left h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  .hero-sub {
    color: #555;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
  .hero-right {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Upload box */
  .upload-box {
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 19px 50px -30px rgba(0, 0, 0, 0.3), -2px -1px 61px -6px rgba(0, 0, 0, 0.3);
    padding: 8rem 4rem 8rem 4rem;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  @property --angle {
    syntax: '<angle>';
    initial-value: 45deg;
    inherits: false;
  }


  .btn-primary {
    --angle: 45deg;
  background: linear-gradient(
    var(--angle),
    var(--color-primary) 0%,
    var(--color-accent) 40%,
    var(--color-secondary) 80%
  );
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: --angle 0.3s ease-in-out;
  }
  .btn-primary:hover {
    --angle: 230deg;
  }
  .upload-instructions {
    color: #666;
    font-size: 0. nine rem;
    margin-top: 1rem;
  }
  
  .text-color-primary{
    color: var(--color-primary);
  }
  /* Responsive */
  @media(max-width: 900px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
    .hero-left, .hero-right {
      max-width: 100%;
    }
    .hero-left h1 {
      font-size: 2rem;
    }
  }
  